{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/notes.css' %}">
</head>

<body>
    {% block content %}
    <nav class="nav-content">
        <p>Notas de {{user_name}}</p>
        <li><a href="/home">Home</a></li>
        <li><a href="/register-login">Login Register</a></li>
    </nav>
    
    <div class="content-for">
        {% for note in notes %}
        <div class="note-content">
            <p>Titulo: {{note.title}}</p>
            <p>{{ note.content }}</p>
            
        </div>
        {% endfor %}

    </div>
    
    {% endblock %}
</body>

</html>