<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="header">
                <p>User</p>
            </div>
            <div class="content">
                <button class="crear_nota">Crear Nota</button>
                <h1>Espacio de Trabajo:</h1>
                <ul>
                    <li><button class="notas">Tarea 1</button></li>
                    <li><button class="notas">Tarea 2</button></li>
                    <li><button class="notas">Tarea 3</button></li>
                </ul>
            </div>
        </aside>
        <div class="main-content">
            <div class="form-content">
                <form action="", method="POST">
                    <input type="text" placeholder="Titulo">
                    <textarea name="contenido" id="", placeholder="Escribe algo aquí"></textarea>
                </form>
            </div>
        </div>
    </div>
</body>
</html>